<?xml version="1.0" encoding="UTF-8"?>
<beans
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:p="http://www.springframework.org/schema/p"
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	<!-- 配置数据源-->
	<!--<bean id="jdbcDataSourceCrm" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.gjt.mm.mysql.Driver</value>
		</property>
		<property name="url">
			<value>${profile.crm.db.url}</value>
		</property>
		<property name="username">
			<value>${profile.crm.db.username}</value>
		</property>
		<property name="password">
			<value>${profile.crm.db.password}</value>
		</property>
	</bean>-->


	<!--<bean class="com.yc.feed.bean.ConfigCenterDataSource" ></bean>
	<bean id="sqlSessionFactoryCrm" class="org.mybatis.spring.SqlSessionFactoryBean"
			name="sqlSessionFactoryCrm">
		<property name="dataSource" ref="crm_datasource" />
		<property name="mapperLocations"
				  value="classpath:crm/*Mapper.xml" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactoryCrm" />
		<property name="basePackage" value="com.yc.feed.dao.crm" />
	</bean>-->



</beans>