<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.feed.dao.crm.OrderCommentUserTagMapper" >
  <resultMap id="BaseResultMap" type="com.yc.feed.domain.entity.OrderCommentUserTag" >
    <id column="order_comment_user_tags_id" property="orderCommentUserTagsId" jdbcType="INTEGER" />
    <result column="service_order_id" property="serviceOrderId" jdbcType="BIGINT" />
    <result column="driver_id" property="driverId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="comment_user_tag_id" property="commentUserTagId" jdbcType="INTEGER" />
    <result column="tag_text" property="tagText" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    order_comment_user_tags_id, service_order_id, driver_id, user_id, comment_user_tag_id, 
    tag_text, create_time, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from order_comment_user_tags
    where order_comment_user_tags_id = #{orderCommentUserTagsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from order_comment_user_tags
    where order_comment_user_tags_id = #{orderCommentUserTagsId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yc.feed.domain.entity.OrderCommentUserTag" >
    insert into order_comment_user_tags (order_comment_user_tags_id, service_order_id, 
      driver_id, user_id, comment_user_tag_id, 
      tag_text, create_time, type
      )
    values (#{orderCommentUserTagsId,jdbcType=INTEGER}, #{serviceOrderId,jdbcType=BIGINT}, 
      #{driverId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{commentUserTagId,jdbcType=INTEGER}, 
      #{tagText,jdbcType=VARCHAR}, #{createTime,jdbcType=INTEGER}, #{type,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yc.feed.domain.entity.OrderCommentUserTag" >
    insert into order_comment_user_tags
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderCommentUserTagsId != null" >
        order_comment_user_tags_id,
      </if>
      <if test="serviceOrderId != null" >
        service_order_id,
      </if>
      <if test="driverId != null" >
        driver_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="commentUserTagId != null" >
        comment_user_tag_id,
      </if>
      <if test="tagText != null" >
        tag_text,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderCommentUserTagsId != null" >
        #{orderCommentUserTagsId,jdbcType=INTEGER},
      </if>
      <if test="serviceOrderId != null" >
        #{serviceOrderId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null" >
        #{driverId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentUserTagId != null" >
        #{commentUserTagId,jdbcType=INTEGER},
      </if>
      <if test="tagText != null" >
        #{tagText,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.feed.domain.entity.OrderCommentUserTag" >
    update order_comment_user_tags
    <set >
      <if test="serviceOrderId != null" >
        service_order_id = #{serviceOrderId,jdbcType=BIGINT},
      </if>
      <if test="driverId != null" >
        driver_id = #{driverId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="commentUserTagId != null" >
        comment_user_tag_id = #{commentUserTagId,jdbcType=INTEGER},
      </if>
      <if test="tagText != null" >
        tag_text = #{tagText,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
    </set>
    where order_comment_user_tags_id = #{orderCommentUserTagsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.feed.domain.entity.OrderCommentUserTag" >
    update order_comment_user_tags
    set service_order_id = #{serviceOrderId,jdbcType=BIGINT},
      driver_id = #{driverId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      comment_user_tag_id = #{commentUserTagId,jdbcType=INTEGER},
      tag_text = #{tagText,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT}
    where order_comment_user_tags_id = #{orderCommentUserTagsId,jdbcType=INTEGER}
  </update>

  <select id="getByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from order_comment_user_tags
    where service_order_id = #{orderId,jdbcType=INTEGER}
  </select>
</mapper>